@import "../config.scss";

.component-object-image {
	@include dotted-border();
	overflow: hidden;
	display: inline-block;

	background-repeat: no-repeat;
	background-position: center center;

	vertical-align: middle;

	border-radius: $border-radius;
	&.round {
		border-radius: 50%;
	}

	&.populated {
		border: none;
	}

	&.changeable &:hover {
		background-color: rgba($white, 0.1);
	}
}
