@import "../config.scss";

.component-autocomplete {
    display: inline-block;
    position: relative;
    border-bottom: 1px solid $white;
    
	input {
        padding: 0.4em 0;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: inherit;
        color: inherit;
    }
    
    .results {
        position: absolute;
        left: 0;
        right: 0;
        background: $white;
        color: $deep-purple;
        z-index: 5;
        
        @include drop-shadow();
    }
    
    .result {
        font-size: 0.8em;
        margin: 4px 0;
        cursor: pointer;
        opacity: 0.75;
        padding: 0 5px;
    }
    .result:hover, .selected {
        opacity: 1;
        font-weight: bolder;
    }
}
