@import "../config.scss";

.component-autocomplete {
    display: inline-block;
    position: relative;
    color: $white;
    background-color: $deep-purple;
    border-bottom: 1px solid $white;
    
	input {
        padding: 0.4em;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: inherit;
        color: inherit;
    }
    
    .results {
        position: absolute;
        left: 0;
        right: 0;
        background: $deep-purple;
        z-index: 5;
        padding: 0.2em 0.3em;
        border: 1px solid $white;
        text-align: left;
        
        @include drop-shadow();
    }
    
    .result {
        font-size: 1em;
        cursor: pointer;
        opacity: 0.75;

        pre {
            margin: 0.1em;
        }
    }
    .result:hover, .selected {
        opacity: 1;
        font-weight: bolder;
    }
}
